---
container_name: "dexterous_hand_real_hw"
image: "shadowrobot/dexterous-hand"
tag: "kinetic-release"
ethercat_interface: "eth0"
demo_icons: false
user: "{{ ansible_user_id }}"
user_folder: "/home/{{ user }}"
shadow_hand_launcher_folder: "{{ user_folder }}/.shadow_launcher_app/shadow_hand_launcher"
setup_script: "/usr/local/bin/setup_dexterous_hand.sh"
