#jinja2: trim_blocks:False
network:
    ethernets:
        right-arm:
            addresses: [192.168.1.100/24]
            optional: true
            match:
                name: right-arm
            routes:
                - to: 192.168.1.1/32
                  via: 192.168.1.1
            set-name: right-arm
        enx-usb-ethernet:
            match:
                name: enx*
            dhcp4: true
            optional: true
    version: 2
