---
user: "{{ lookup('env','USER') }}"
user_folder: "/home/{{ user }}"
shadow_hand_launcher_folder: "{{ user_folder }}/.shadow_launcher_app/shadow_hand_launcher"
save_latest_ros_logs_folder: "{{ user_folder }}/.shadow_save_log_app/save_latest_ros_logs"
container_name : "teleop-server"
nuc_name: "user"
nuc_address: "10.6.10.3"
sr_config_branch: "demohand_A"
