# Copyright 2022 Shadow Robot Company Ltd.
#
# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation version 2 of the License.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.

---
user: "{{ ansible_user_id }}"
user_folder: "/home/{{ user }}"
glove: "shadow_glove"
container_name: "teleop_{{ glove }}"
shadow_hand_launcher_folder: "{{ user_folder }}/.shadow_launcher_app_{{ container_name }}/shadow_hand_launcher"
setup_directory: ""
nuc_username: "user"
sim_icon: false
upgrade_script: false
server_ip: "10.9.11.1"
demohand_icons: false
teleop_control_launch: "sr_robot_launch sr_hardware_control_loop.launch"
ur_robot_type: "ur10e"
teleop_glove_right: "hand-e.png"
teleop_glove_left: "hand-e-left.png"
teleop_glove_bimanual: "hand-e-bimanual.png"
steam_binding: "steam_binding.jpg"
steam_vive_binding_url: http://127.0.0.1:27062/dashboard/controllerbinding.html
shadow_glove_teleop_readthedocs_link: ""
haptx_teleop_readthedocs_link: ""
initial_z_value: 0.7551
arm_x_separation_value: 0.0
arm_y_separation_value: 0.0
rh_biotac_mapping: ""
lh_biotac_mapping: ""
launch_file_input_haptx_mapping_left: "haptx_base.launch side:=left"
launch_file_input_haptx_mapping_right: "haptx_base.launch"
launch_file_input_haptx_mapping_bimanual: "haptx_base_bimanual.launch"
polhemus_type: "viper"
scene_file: ""
glove_driver_type: "right"
glove_driver_value: "right"
ra_tracker_id: 0
la_tracker_id: 1
remote_icons: false
hand_side_ad: ""
