---
user: "{{ ansible_user_id }}"
user_folder: "/home/{{ user }}"
shadow_hand_launcher_folder: "{{ user_folder }}/.shadow_launcher_app/shadow_hand_launcher"
container_name : "teleop-server"
sr_config_branch: "demohand_A"
hand_serial: "634"
nuc_address: "10.10.10.10"
nuc_username: "user"
