---
- name: Copy Close Everything desktop icon
  copy:
    src: "../../../common/resources/files/close_icon.png"
    dest: "{{ shadow_hand_launcher_folder }}/close_icon.png"
    mode: '664'

- name: Set close_nuc_processes variable
  set_fact:
    close_nuc_processes: true
  when: groups['control_machine'] is defined

- name: Creating the local close everything script
  template:
    src: ../../../common/resources/templates/scripts/close-everything.j2
    dest: "{{ shadow_hand_launcher_folder }}/close_everything.sh"
    mode: '755'

- name: Create Close Everything icon
  template:
    src: ../../../common/resources/templates/desktop-icons/standard-icon-no-terminator.j2
    dest: "{{ user_folder }}/Desktop/Shadow Close Everything.desktop"
    mode: '755'
  vars:
    desktop_shortcut_name: "Shadow Close Everything"
    comment: "This is application closes all Shadow programs on this laptop and NUC (if used)"
    folder: "{{ shadow_hand_launcher_folder }}"
    shell_script_file_name: close_everything.sh
    icon_file_name: close_icon.png
    start_terminal: "false"

- name: Make Create Close Everything desktop icon Trusted
  shell: gio set "{{ user_folder }}/Desktop/Shadow Close Everything.desktop" "metadata::trusted" yes
  when:
    - ansible_distribution|string == 'Ubuntu'
    - ansible_distribution_release|string == 'bionic'
    - skip_molecule_task is not defined
