---
container_name: "dexterous_hand_real_hw"
image: "shadowrobot/dexterous-hand"
tag: "kinetic-release"
full_image_name: "shadowrobot/dexterous-hand:kinetic-release"
ethercat_interface: "eth0"
launch_hand: true
config_branch: demohand_A
use_cyberglove: false
user: "{{ ansible_user_id }}"
user_folder: "/home/{{ user }}"
shadow_hand_launcher_folder: "{{ user_folder }}/.shadow_launcher_app/shadow_hand_launcher"
cyberglove: "A-dg"
reinstall: true
container_exists: false
container_running: false
setup_directory: ""
setup_script: ""
docker_executable: docker
use_steamvr: false
