---
- name: Install Docker dependencies
  apt:
    name: ['apt-transport-https', 'ca-certificates']
    state: 'present'

- name: Add Docker repo apt key
  apt_key:
    url: 'https://download.docker.com/linux/ubuntu/gpg'
    id: '9DC858229FC7DD38854AE2D88D81803C0EBFCD88'
    state: 'present'

- name: Add Docker repository
  apt_repository:
    repo: "{{ docker_apt_repository }}"
    state: 'present'
    update_cache: 'yes'

- name: Install Docker
  apt:
    name: docker-ce
    state: 'present'

- name: Enable Docker systemd service
  service:
    name: 'docker'
    state: 'started'
    enabled: 'yes'

- name: Add users to docker group
  user:
    name: "{{ user }}"
    groups: 'docker'
    append: 'yes'
    
- name: Make sure python3-pip is present (if run-ansible.sh was not run locally)
  apt:
    name: 'python3-pip'
    state: 'present'

- name: Install Docker pip module
  pip:
    name: docker
    state: present

- name: Docker installation finished
  debug:
    msg: "Installation of Docker is finished. Please restart you computer and run the same installation tool again"

- name: Rebooting computer to finish Docker installation
  when: allow_auto_reboot
  async: 1
  poll: 0
  shell: sleep 5 && reboot

- name: Waiting for remote host to come back after reboot
  when: allow_auto_reboot
  wait_for_connection:
    delay: '10'
    timeout: '300'

- name: Finishing Docker installation
  meta: end_play