---
- name: Docker login
  docker_login:
    username: "{{ docker_username }}"
    password: "{{ docker_password }}"
  when: docker_username is defined and docker_password is defined
  become: yes

- name: Reading path to Python repository with Docker package
  command: "{{ ansible_python_interpreter }} -c \"import docker as _; print(_.__file__.replace('/docker/__init__.py', ''))\""
  register: python_packages_path_output
  changed_when: python_packages_path_output.rc != 0

- name: Set path to Docker Python package
  set_fact:
    python_packages_path: "{{ python_packages_path_output.stdout_lines | first }}"

- name: Set docker full image name
  set_fact:
    full_image_name: "{{ image }}:{{ tag }}"

- name: Pull Docker image
  docker_image:
    name: "{{ full_image_name }}"
    source: pull
  environment:
    PYTHONPATH: "{{ python_packages_path }}"
  async: 50000
  poll: 0
  register: docker_pull_job
  become: yes
  changed_when: false

- name: Wait for Docker image pull to complete
  async_status:
    jid: "{{ docker_pull_job.ansible_job_id }}"
  register: docker_pull_result
  until: docker_pull_result.finished and "500 Server Error" not in docker_pull_result.msg
  retries: 10000
  delay: 5
  become: yes
