---
- name: Docker login
  docker_login:
    username: "{{ username }}"
    password: "{{ password }}"
  when: username is defined and password is defined

- name: Set docker full image name
  set_fact:
    full_image_name: "{{ image }}:{{ tag }}"

- name: Pulling the image
  become: true
  docker_image:
    name: "{{ full_image_name }}"
