---
- name: Setup script name
  set_fact:
    setup_script: "setup_dexterous_hand.sh"
    upgrade_script: "upgrade_image.sh"

- name: Include docker/docker-image role
  include_role:
    name: docker/docker-image

- name: Include products/common/docker-container role
  include_role:
    name: products/common/docker-container

- name: Include products/common/save-logs-icons role
  include_role:
    name: products/common/save-logs-icons

- name: Include products/common/demo-icons role
  include_role:
    name: products/common/demo-icons
  when: demo_icons|bool

- name: Include products/common/cyberglove role
  include_role:
    name: products/common/cyberglove
  when: use_cyberglove|bool

- name: Include docker/aws role
  include_role:
    name: docker/aws
  when: use_aws|bool

- name: Creating upgrade script
  template:
    src: ../../../common/resources/templates/scripts/upgrade_image.j2
    dest: "{{ shadow_hand_launcher_folder }}/{{ upgrade_script }}"
    mode: '755'
  when: upgrade_check|bool

- name: Creating hand-e setup script
  template:
    src: ../../../common/resources/templates/scripts/setup-hand.j2
    dest: "{{ shadow_hand_launcher_folder }}/{{ setup_script }}"
    mode: '755'

- name: Copying hand setup script into docker container
  changed_when: false
  shell: "docker cp {{ shadow_hand_launcher_folder }}/{{ setup_script }} {{ container_name }}:{{ setup_directory }}/{{ setup_script }}"
  become: yes

- name: Copy Shadow_Hand_Launcher desktop icon
  copy:
    src: files/hand-e.png
    dest: "{{ shadow_hand_launcher_folder }}/hand-e.png"
    mode: '664'

- name: Create Shadow_Hand_Launcher executable launch script
  template:
    src: ../../../common/resources/templates/scripts/start-docker-container.j2
    dest: "{{ shadow_hand_launcher_folder }}/shadow_launcher_exec.sh"
    mode: '755'

- name: Create Shadow_Hand_Launcher desktop icon
  template:
    src: ../../../common/resources/templates/desktop-icons/standard-icon.j2
    dest: "{{ user_folder }}/Desktop/Shadow_Hand_Launcher.desktop"
    mode: '755'
  vars:
    desktop_shortcut_name: Shadow_Hand_Launcher
    comment: "This is application launches the hand"
    folder: "{{ shadow_hand_launcher_folder }}"
    shell_script_file_name: shadow_launcher_exec.sh
    icon_file_name: hand-e.png
    start_terminal: "true"

- name: Make Shadow_Hand_Launcher Trusted
  shell: gio set "{{ user_folder }}/Desktop/Shadow_Hand_Launcher.desktop" "metadata::trusted" yes
  when:
    - ansible_distribution|string == 'Ubuntu'
    - ansible_distribution_release|string == 'bionic'
