---
- name: Teleop deploy playbook for teleop server
  import_playbook: ../../../teleop_deploy.yml
    reinstall=true
    use_openvpn=false
    ethercat_right_hand="enp0s25"
    image="shadowrobot/dexterous-hand"
    tag="melodic-release"
    nvidia_docker=false
    skip_molecule_task=true
    allow_auto_reboot=true
    customer_key="invalidkey"
    glove="shadow_glove"
    hand_side=right
    arm_ip_right=10.8.1.1
    ethercat_right_arm=eno1
    sim_icon=true
    sudo_password="ubuntu"
    demohand_icons=true
    haptx_teleop_readthedocs_link=""
    shadow_glove_teleop_readthedocs_link=""
