#jinja2: trim_blocks:False
[Desktop Entry]
Version=1.0
Name={{ desktop_shortcut_name }}
Comment={{ comment }}
Exec=bash -c "exec -a '{{ window_title }}' xterm -title '{{ window_title }}' -e '{{ folder }}/{{ shell_script_file_name }}'"
Icon={{ folder }}/{{ icon_file_name }}
Terminal=false
Type=Application
Categories=Utility;Application;
