---
- name: Check if OpenVPN server is already installed
  stat: 'path=/etc/init.d/openvpn'
  register: openvpn_check
  ignore_errors: yes

- name: Install OpenVPN server
  import_tasks: install.yml
  when: not openvpn_check.stat.exists
  become: yes