#! /bin/bash
set -e
sudo chown -v user:user /home/user/.ssh
ssh-keyscan github.com >> ~/.ssh/known_hosts
source /home/user/projects/shadow_robot/base/devel/setup.bash
PRIVATE_REPOS="{{ private_repos_value }}"
eval $(ssh-agent)
ssh_test=$(ssh -oStrictHostKeyChecking=no -T git@github.com 2>&1 &)
results=""
if [[ "$ssh_test" == *"You've successfully authenticated"* ]]; then
    echo " ---------------------------------"
    echo "You have access to private repo(s): $PRIVATE_REPOS"
    echo " ---------------------------------"
else
    echo " -------------------------------------------------------"
    echo "You don't have access to private repo(s): $PRIVATE_REPOS. Github SSH authentication failed with message: $ssh_test"
    echo " -------------------------------------------------------"
    exit 1
fi
for i in $PRIVATE_REPOS; do
    repo_url="ssh://git@github.com/shadow-robot/$i.git"
    cd /home/user/projects/shadow_robot/base/src
    git clone $repo_url
done
echo "Private repos: $PRIVATE_REPOS cloned, executing catkin_make in base (apart from moveit)"
excluded_packages_base=$(rospack list | grep /home/user/projects/shadow_robot/base/src/moveit | awk '{print $1}' | paste -s -d ';')
cd /home/user/projects/shadow_robot/base
catkin_make -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCATKIN_BLACKLIST_PACKAGES="$excluded_packages_base" &> /dev/null
echo "Private repos: $PRIVATE_REPOS installed"
exit 0
