#jinja2: trim_blocks:False
#!/bin/bash
NUC_USERNAME={{ nuc_username }}
NUC_ADDRESS={{ nuc_address }}
CLOSE_NUC_PROCESSES={{ close_nuc_processes | lower}}
(
  echo "# Finding all Shadow Robot processes"
  pids=$(pgrep -f 'shadow_')
  echo 5
  if $CLOSE_NUC_PROCESSES;
  then
    echo "# Using rosnode kill --all on the NUC container"
    ssh -o ConnectTimeout=10 $NUC_USERNAME@$NUC_ADDRESS docker exec {{ container_name }} /ros_entrypoint.sh bash -c "rosnode kill --all" || true
    sleep 1
  fi
  echo 10
  echo "# Using rosnode kill --all on the server container"
  docker exec {{ container_name }} /ros_entrypoint.sh bash -c "rosnode kill --all" || true &
  sleep 2
  echo 20
  sleep 2
  echo 30
  sleep 2
  echo 40
  sleep 2
  echo 50
  sleep 2
  echo 60
  if $CLOSE_NUC_PROCESSES;
  then
    echo "# Executing docker stop on Shadow Robot NUC"
    ssh -o ConnectTimeout=10 $NUC_USERNAME@$NUC_ADDRESS docker stop {{ container_name }}
    sleep 1
  fi
  echo 70
  echo "# Executing docker stop on Shadow Robot server"
  docker stop {{ container_name }}
  sleep 1
  echo 80
  echo "# Closing Shadow Robot processes with SIGTERM"
  echo $pids | xargs kill -15 &
  sleep 1
  echo "# Closing Shadow Robot processes with SIGKILL"
  echo $pids | xargs kill -9 &
  sleep 1
  echo "# All Shadow Robot processes closed!"
  echo 100
) | zenity --title "Closing all Shadow Robot processes" --progress --auto-kill
