#jinja2: trim_blocks:False
#! /bin/bash
HOST='localhost'
PORT={{ local_website_port }}

if {{ start_container | lower }}; then
  if [ ! "$(docker ps -q -f name={{ container_name  }})" ]; then
    echo "Docker container {{ container_name }} is not running. Starting it now to open the {{ local_website_name }} local website..."
    docker start {{ container_name }} &> /dev/null
    sleep 3
  fi
else
  if [ ! "$(docker ps -q -f name={{ container_name  }})" ]; then
    echo "Docker container {{ container_name }} is not running. Please run the Launch Shadow Teleop icon or Launch Server Container in Shadow Advanced Launchers first to run the {{ container_name }} container before opening the {{ local_website_name }} local website"
    sleep 10
    exit
  fi
fi
check=$(curl -s -w "%{http_code}\n" -L "${HOST}:${PORT}/" -o /dev/null)
if [[ ! $check == 200 ]]; then
  echo "{{ local_website_name }} server not running inside the docker container {{ container_name }}. Starting it now..."
  docker exec -d --user user {{ container_name }} bash -c "source /home/user/projects/shadow_robot/base/devel/setup.bash;roslaunch {{ website_project_name }} {{ website_launch }}"
  sleep 5
  check=$(curl -s -w "%{http_code}\n" -L "${HOST}:${PORT}/" -o /dev/null)
  if [[ ! $check == 200 ]]; then
    echo "{{ local_website_name }} server launch failure"
    echo "check returns: $check"
    echo "tried to launch: roslaunch {{ website_project_name }} {{ website_launch }} inside {{ container_name }} container"
    sleep 10
    exit
  fi
fi
if [[ $check == 200 ]]; then
  echo "{{ local_website_name }} local server running! Opening it now in a browser..."
  xdg-open http://${HOST}:${PORT}/
  sleep 3
fi
