#jinja2: trim_blocks:False
#! /bin/bash
docker start {{ container_name  }} &> /dev/null
docker exec -i --user user {{ container_name }} bash -c "source /home/user/projects/shadow_robot/base/devel/setup.bash;{{ exec_in_container }}" && docker stop {{ container_name  }} &> /dev/null && exit 0 || docker stop {{ container_name  }} &> /dev/null && exit 1
