#jinja2: trim_blocks:False
#! /bin/bash
PR_BRANCHES={{ pr_branches_value }}
echo "You have specified PRs and/or branches to be tested"
echo "$PR_BRANCHES"
read -p 'git_username: ' git_username
git config --global user.name "$git_username"
git config --global user.email "${git_username}@shadowrobot.com"
git config --global credential.helper store
for i in $PR_BRANCHES; do
    repo=$(echo $i | sed -e 's/.*\/shadow-robot\/\(.*\)\/pull\/.*/\1/')
    branch="" 
    if "/pull/" in $i; then
        echo "this is a PR"
    fi
    if "/tree/" in $i; then
        echo "this is a branch"
    fi
done
