#! /bin/bash
source /home/user/projects/shadow_robot/base_deps/devel/setup.bash
source /home/user/projects/shadow_robot/base/devel/setup.bash
PR_BRANCHES="{{ pr_branches_value }}"
eval $(ssh-agent)
for i in $PR_BRANCHES; do
    ros_repo=$repo
    branch=""
    if [[ "$i" == *"/pull/"* ]]; then
        repo=$(echo "$i" | sed -e 's/.*\/shadow-robot\/\(.*\)\/pull\/.*/\1/')
        pull=$(echo "$i" | sed -e 's/.*\/pull\/\(.*\).*/\1/')
        branch=$(curl -s "https://api.github.com/repos/shadow-robot/$repo/pulls/$pull" | sed -e '/head"/,/"/!d' | tr -d '\n' | sed -e 's/.*shadow-robot:\(.*\)",.*/\1/')
    fi
    if [[ "$i" == *"/tree/"* ]]; then
        repo=$(echo "$i" | sed -e 's/.*\/shadow-robot\/\(.*\)\/tree\/.*/\1/')
        branch=$(echo $i | sed -e 's/.*\/tree\/\(.*\).*/\1/')
    fi
    echo "Started pulling branch: $branch in $repo"
    attempt=$(roscd "$ros_repo")
    if [[ "$attempt" == *"roscd: No such package"* ]]; then
        ros_repo=$(echo "$repo" | tr '-' '_')
    fi
    roscd $ros_repo
    git fetch
    git checkout $branch
    git pull
    echo "Completed pulling branch: $branch in $repo"
done
echo "Branches pulled, executing catkin_make"
cd /home/user/projects/shadow_robot/base_deps
catkin_make
cd /home/user/projects/shadow_robot/base_deps
catkin_make
echo "Branches for testing have been pulled and compiled"
echo "You are now ready for testing"
