#jinja2: trim_blocks:False
docker exec -it {{ container_name }} /ros_entrypoint.sh bash -c 'xhost +local:;source /home/user/projects/shadow_robot/base_deps/devel/setup.bash;source /home/user/projects/shadow_robot/base/devel/setup.bash;rosrun {{ project_name }} {{ launch_file }}'
