#jinja2: trim_blocks:False
#! /bin/bash
source /home/user/projects/shadow_robot/base/devel/setup.bash

# TODO: FIX so that cyberglove is not mentioned here in docker-container role, and cyberglove setup is handled in cyberglove role
if {{ use_cyberglove | lower or remote_cyberglove | lower }}; then
    cd /home/user/projects/shadow_robot/base/src
    if [ -d "sr_cyberglove_config" ]; then
        cd sr_cyberglove_config
    else
        git clone https://github.com/shadow-robot/sr_cyberglove_config.git;
        cd sr_cyberglove_config
    fi
    git checkout {{ cyberglove }}
fi
if {{ use_steamvr | lower }}; then
    cd /home/user/.steam/bin && STEAM_RUNTIME=1 ./vrstartup.sh &> /dev/null 2>&1
fi

# move ssh key to ssh folder
if [ -f /tmp/id_rsa ]; then
    mv /tmp/id_rsa /home/user/.ssh/id_rsa
fi
if {{ launch_hand | lower }}; then
    if {{ sim_hand | lower }}; then
        roslaunch sr_robot_launch srhand.launch
    else
        if {{ uses_autodetect | lower }}; then
            sr_hand_autodetect roslaunch {{ launch_package_name }} {{ launch_file_name }} 2> >(tee -a /home/user/.ros/log/stderr.log >&2)
        else
            roslaunch {{ launch_package_name }} {{ launch_file_name }} 2> >(tee -a /home/user/.ros/log/stderr.log >&2)
        fi
    fi
else
    if {{ override_launch_hand | lower }}; then
        sr_hand_autodetect roslaunch {{ launch_package_name }} {{ launch_file_name }} 2> >(tee -a /home/user/.ros/log/stderr.log >&2)
    fi
fi
