#jinja2: trim_blocks:False
#!/bin/bash
RED='\033[0;31m'
GREEN='\033[0;32m'
YELLOW='\033[1;33m'
NC='\033[0m' # No Color
if {{ upgrade_check | lower }}; then
    "{{ user_folder }}/.shadow_launcher_app_{{ container_name }}/shadow_hand_launcher/{{ upgrade_script }}"
fi
echo -e \"${YELLOW}Please wait for docker container to start in a new terminal as this might take a while... ${NC}\"
docker cp {{ shadow_hand_launcher_folder }}/{{ local_setup_script_var }} {{ container_name }}:/{{ setup_directory }}/{{ setup_script }}
docker start {{ container_name  }} &> /dev/null
sleep 3
