#jinja2: trim_blocks:False
network:
    ethernets:
        {{ server_usb_ethernet_adapter }}:
            dhcp4: yes
            routes:
            - to: {{ server_ip | regex_replace('[^.]+$', '0') }}/24
              via: {{ router_ip }}
            optional: true
    version: 2
    renderer: NetworkManager
