---
- name: Installing nvidia-modprobe
  apt:
    name: nvidia-modprobe
    state: present

- name: Installing nvidia-docker
  apt:
    deb: '{{ nvidia_docker_deb_url }}'
    state: present
    update_cache: yes
  notify: reload docker

- name: Installing nvidia-container-runtime
  apt:
    deb: '{{ nvidia_docker_runtime_deb_url }}'
    state: present
    update_cache: yes
  notify: reload docker
