---
- name: Installing nvidia-modprobe
  apt:
    name: nvidia-modprobe
    state: present

- name: Install nvidia-docker gpg key
  apt_key:
    url: https://nvidia.github.io/nvidia-docker/gpgkey
    state: present

- name: Set ubuntu_version for nvidia-dockerinstall
  set_fact:
    ubuntu_version: "18.04"
  when:
    - ansible_distribution|string == 'Ubuntu'
    - ansible_distribution_release|string == 'bionic'

- name: Add nvidia-docker repository
  apt_repository:
    repo: deb https://nvidia.github.io/{{ item }}/ubuntu{{ ubuntu_version }}/amd64 /
    state: present
  with_items:
    - nvidia-container-runtime
    - nvidia-docker

- name: Install nvidia-docker 1
  apt:
    name: ['nvidia-container-runtime={{ nvidia_container_runtime_version }}','nvidia-docker={{ nvidia_docker_1_version }}']
    state: present
    update_cache: yes
  when: nvidia_docker | int ==1

- name: Install nvidia-docker 2
  apt:
    name: nvidia-docker2
    state: present
    update_cache: yes
  when: nvidia_docker | int ==2

- name: Ensure /etc/systemd/system/docker.service.d folder exists (for nvidia_docker 1)
  file:
    path: "/etc/systemd/system/docker.service.d"
    mode: '755'
    state: directory
  when: nvidia_docker | int ==1

- name: Ensure /etc/systemd/system/docker.service.d folder exists (for nvidia_docker 1)
  file:
    path: "/etc/systemd/system/docker.service.d"
    mode: '755'
    state: directory
  when: nvidia_docker | int ==1

- name: Create override.conf in /etc/systemd/system/docker.service.d (for nvidia_docker 1)
  template:
    src: templates/override.j2
    dest: "/etc/systemd/system/docker.service.d/override.conf"
    mode: '755'

- name: Reload daemon
  systemd:
    daemon_reload: yes
  become: yes
  
- name: Restart docker after installing nvidia_docker
  service:
    name: docker
    state: restarted
  become: yes
