---
- name: Install Docker container
  connection: localhost
  hosts: localhost
  vars_files:
    - vars/docker-deploy.yml
  pre_tasks:
    - name: No product is defined
      when: product != 'hand_e' and product != 'hand_h'
      meta: end_play

    - name: check if customer_key is provided and not false
      when: customer_key is defined and customer_key != false
      set_fact:
        use_aws: true
      
    - name: check if cyberglove branch is provided
      when: cyberglove is defined
      set_fact:
        use_cyberglove: true

    - name: set reinstall flag as boolean
      set_fact:
          reinstall: "{{ reinstall | bool }}"
  
    - name: set demo_icons as boolean
      set_fact:
          demo_icons: "{{ demo_icons | bool }}"

  roles:
    - { role: installation/docker }
    - { role: installation/nvidia_docker, when: nvidia_docker != false }
    - { role: products/hand_h/deploy, when: product == 'hand_h' }
    - { role: products/hand_e/deploy, when: product == 'hand_e' }
    - { role: aws, when: use_aws }
