---

- name: Install Python 3
  import_playbook: ./install_python3.yml

- name: Install product Docker container and icons
  hosts: docker_deploy
  pre_tasks:

    - name: No product is defined
      when: product != 'hand_e' and product != 'hand_h'
      meta: end_play

    - name: check if customer_key is provided and not false
      when: customer_key is defined and customer_key | length > 0
      set_fact:
        use_aws: true

    - name: check if cyberglove branch is provided
      when: cyberglove is defined and cyberglove| length > 0
      set_fact:
        use_cyberglove: true

  roles:
    - {role: installation/docker}
    - {role: installation/nvidia-docker, when: nvidia_docker | int != 0}
    - {role: products/hand-h/deploy, when: product == 'hand_h'}
    - {role: products/hand-e/deploy, when: product == 'hand_e'}
    - {role: docker/aws, when: use_aws|bool}
