---

#- name: Install Python 3
#  import_playbook: ./install-python3.yml

- name: Install software based on external parameters
  hosts: install-software
  pre_tasks:

    - name: Initialize list of software
      set_fact:
        software_list: "{{software | default([])}}"

  roles:
    - {role: installation/docker, when: "'docker' in software_list" }
    - {role: installation/nvidia-docker, when: "'nvidia-docker' in software_list"}
    - {role: installation/openvpn-server, when: "'openvpn-server' in software_list"}
    - {role: aws, when: "'aws' in software_list"}
