---

- name: Install Python 3
  hosts: all
  become: yes
  gather_facts: no
  pre_tasks:

    - name: Check if Python 3 is installed
      raw: 'python3 --version'
      register: output
      ignore_errors: yes

    - name: Install Python 3 in case if it is not installed
      raw: 'apt-get -y update && apt-get install -y python3'
      when: output.rc != 0

- name: Set Python 3 variable
  hosts: all
  gather_facts: no
  pre_tasks:

    - name: Get path to Python 3 interpreter
      raw: 'which python3'
      register: path_to_python

    - name: Set Python 3 interpreter
      set_fact:
        ansible_python_interpreter: "{{ path_to_python.stdout_lines | first }}"
