---
- name: Install Python 3
  import_playbook: ./install-python3.yml

- name: Install software based on external parameters
  hosts: install-software
  pre_tasks:

    - name: Initialize list of software
      set_fact:
        software_list: "{{ software | default([]) }}"

  roles:
    - {role: installation/docker, when: "'docker' in software_list" }
    - {role: installation/nvidia-docker, when: "'nvidia-docker' in software_list"}
    - {role: installation/openvpn-server, when: "'openvpn-server' in software_list"}
    - {role: installation/aws-cli, when: "'aws-cli' in software_list"}
    - {role: installation/pycharm, when: "'pycharm' in software_list"}
    - {role: installation/qtcreator, when: "'qtcreator' in software_list"}
    - {role: installation/vscode, when: "'vscode' in software_list"}
    - {role: installation/steamvr, when: "'steamvr' in software_list"}
    - {role: installation/test_user, when: "'test_user' in software_list"}
