---
- name: Make sure there is a 2048-bit SSH private and public keys generated on teleop server (SSH client)
  user:
    name: "{{ user }}"
    generate_ssh_key: yes
    ssh_key_bits: 2048
    ssh_key_file: .ssh/id_rsa

- name: Evaluating the SSH agent and adding the ssh identity
  shell: |
    eval "$(ssh-agent)"
    ssh-add ~/.ssh/id_rsa
  changed_when: false
