---
- name: Make sure there is a 2048-bit SSH private and public keys generated on teleop server (SSH client)
  user:
    name: "{{ user }}"
    generate_ssh_key: yes
    ssh_key_bits: 2048
    ssh_key_file: .ssh/id_rsa

- name: Evaluating the SSH agent and adding the ssh identity
  shell: |
    eval "$(ssh-agent)"
    ssh-add {{ user_folder }}/.ssh/id_rsa
  changed_when: false

- name: Creating teleop-server setup script
  template:
    src: ../../../common/resources/templates/scripts/setup-hand.j2
    dest: "{{ shadow_hand_launcher_folder }}/teleop-server-setup.sh"
    mode: '755'

- name: Copying teleop-server setup script into docker container
  changed_when: false
  shell: "docker cp {{ shadow_hand_launcher_folder }}/teleop-server-setup.sh {{ container_name }}:{{ setup_directory + setup_script }}"
  become: yes
