---
- name: Create keypair for ssh
  openssh_keypair:
    path: "{{ user_folder }}/.ssh/id_ssh_rsa"
    type: rsa
    size: 2028

- name: Copying ssh key to Control-machine
  hosts: control-machine
  copy:
    src: "{{ user_folder }}/.ssh"
    dest: "/home/user/.ssh/{{ item }}"
    mode: 0600
    state: present
  with_items:
    - id_rsa
    - id_rsa.pub


