---
- name: Teleop deploy playbook for teleop client
  import_playbook: ../../../teleop_deploy.yml
  vars:
    reinstall: true
    use_openvpn: false
    ethercat_right_hand: enp0s25
    image: shadowrobot/dexterous-hand
    tag: melodic-release
    nvidia_docker: false
    allow_auto_reboot: true
    remote_teleop: true
    skip_molecule_task: true
    ansible_become_password: ubuntu
    ansible_ssh_pass: ubuntu
