---
- name: Copy desktop icon
  copy:
    src: ../../../common/resources/files/{{ desktop_icon_png }}
    dest: "{{ shadow_hand_launcher_folder }}/{{ desktop_icon_png }}"
    mode: '664'

- name: Create executable launch script for hand
  template:
    src: templates/scripts/start-docker-container-nuc.j2
    dest: "{{ shadow_hand_launcher_folder }}/{{ launch_script }}"
    mode: '755'
  vars:
    hand_serial_var: "{{ hand_serial_value }}"
    ethercat_interface_var: "{{ ethercat_interface_value }}"
    hand_side_var: "{{ hand_side_value }}"
    xacro_var: "{{ xacro_value }}"
    mapping_path_var: "{{ mapping_path_value }}"
    pwm_control_var: "{{ pwm_control_value }}"
    hand_ctrl_var: "{{ hand_ctrl_value }}"
    initial_z_var: "{{ initial_z_value }}"
    arm_x_separation_var: "{{ arm_x_separation_value }}"
    arm_y_separation_var: "{{ arm_y_separation_value }}"
    arm_ctrl_var: "{{ arm_ctrl_value }}"

- name: Create desktop icon for hand
  template:
    src: ../../../common/resources/templates/desktop-icons/standard-icon.j2
    dest: "{{ user_folder }}/Desktop/{{ desktop_icon_path }}.desktop"
    mode: '755'
  vars:
    desktop_shortcut_name: "{{ desktop_icon_name }}"
    comment: "{{ desktop_icon_name }}"
    folder: "{{ shadow_hand_launcher_folder }}"
    shell_script_file_name: "{{ launch_script }}"
    icon_file_name: "{{ desktop_icon_png }}"
    start_terminal: "false"

- name: Make desktop icon for hand trusted
  shell: gio set "{{ user_folder }}/Desktop/{{ desktop_icon_path }}.desktop" "metadata::trusted" yes
  when:
    - ansible_distribution|string == 'Ubuntu'
    - ansible_distribution_release|string == 'bionic'
    - skip_molecule_task is not defined
