---
- name: Ensures that Desktop folder exists
  file:
    path: "{{ user_folder }}/Desktop"
    mode: '755'
    state: directory

- name: Ensures that shadow_hand_launcher directory exists
  file:
    path: "{{ shadow_hand_launcher_folder }}"
    state: directory

- name: Copy Cyberglove desktop icon
  copy:
    src: ../../../common/resources/files/cyberglove.png
    dest: "{{ shadow_hand_launcher_folder }}/cyberglove.png"
    mode: '664'

- name: Create Cyberglove executable launch script
  template:
    src: templates/scripts/launch-cyberglove.j2
    dest: "{{ shadow_hand_launcher_folder }}/launch-cyberglove.sh"
    mode: '755'

- name: Create Cyberglove desktop icon
  template:
    src: ../resources/templates/desktop-icons/standard-icon.j2
    dest: "{{ user_folder }}/Desktop/Launch_Cyberglove.desktop"
    mode: '755'
  vars:
    desktop_shortcut_name: Launch Cyberglove
    comment: "This is application launches the Cyberglove"
    folder: "{{ shadow_hand_launcher_folder }}"
    shell_script_file_name: launch-cyberglove.sh
    icon_file_name: cyberglove.png
    start_terminal: "true"
    terminator_prefix_for_closing: "SR: "
