---
- name: Ensures that Desktop folder exists
  file:
    path: "{{ user_folder }}/Desktop"
    mode: '755'
    state: directory

- name: Ensures that save_latest_ros_logs_folder exists
  file:
    path: "{{ save_latest_ros_logs_folder }}"
    state: directory

- name: Copy ROS Logs Saver desktop icon
  copy:
    src: files/log-icon.png
    dest: "{{ save_latest_ros_logs_folder }}/log-icon.png"
    mode: '664'

- name: Copy ROS Logs Saver main script
  copy:
    src: files/save-latest-ros-logs.sh
    dest: "{{ save_latest_ros_logs_folder }}/save-latest-ros-logs.sh"
    mode: '755'

- name: Create ROS Logs Saver desktop icon
  when: not use_aws|bool
  template:
    src: ../resources/templates/desktop-icons/standard-icon.j2
    dest: "{{ user_folder }}/Desktop/ROS_Logs_Saver.desktop"
    mode: '755'
  vars:
    desktop_shortcut_name: ROS_Logs_Saver
    comment: "This application saves latest ros logs file from running docker container"
    folder: "{{ save_latest_ros_logs_folder }}"
    shell_script_file_name: save-latest-ros-logs.sh
    icon_file_name: log-icon.png

- name: Make ROS Logs Saver desktop icon trusted
  shell: gio set "{{ user_folder }}/Desktop/ROS_Logs_Saver.desktop" "metadata::trusted" yes
  when:
    - ansible_distribution|string == 'Ubuntu'
    - ansible_distribution_release|string == 'bionic'

- name: Create ROS Logs Saver and Uploader desktop icon
  when: use_aws|bool
  template:
    src: ../resources/templates/desktop-icons/standard-icon.j2
    dest: "{{ user_folder }}/Desktop/ROS_Logs_Saver_And_Uploader.desktop"
    mode: '755'
  vars:
    desktop_shortcut_name: ROS_Logs_Saver_And_Uploader
    comment: "This application saves and uploads to AWS latest ros logs file from running docker container"
    folder: "{{ save_latest_ros_logs_folder }}"
    shell_script_file_name: save-latest-ros-logs.sh
    icon_file_name: log-icon.png

- name: Make ROS Logs Saver and Uploader desktop icon trusted
  shell: gio set "{{ user_folder }}/Desktop/ROS_Logs_Saver_And_Uploader.desktop" "metadata::trusted" yes
  when:
    - use_aws|bool
    - ansible_distribution|string == 'Ubuntu'
    - ansible_distribution_release|string == 'bionic'
