---
- name: Set server hostname
  set_fact:
    server_hostname: "{{ hostvars[groups['server'][0]]['ansible_host'] }}"
  when: groups['server'] is defined

- name: Set setup parameters
  set_fact:
    setup_script: teleop-client-setup.sh
    use_steamvr: false

- name: Include installation/docker role
  include_role:
    name: installation/docker

- name: Include installation/terminator role
  include_role:
    name: installation/terminator

- name: Include installation/libglib2.0-dev role to ensure gio is available for Ubuntu 18.04
  include_role:
    name: installation/libglib2.0-dev
  when:
    - ansible_distribution|string == 'Ubuntu'
    - ansible_distribution_release|string == 'bionic'

- name: Include installation/nvidia-docker role
  include_role:
    name: installation/nvidia-docker
  when: nvidia_docker | bool

- name: Include installation/openvpn-client role
  include_role:
    name: installation/openvpn-client
  when: use_openvpn|bool

- name: Set chrony server ip
  set_fact:
    chrony_server_ip: "{{ groups['server'][0] }}"
  when: groups['server'] is defined

- name: Include installation/chrony-client role
  include_role:
    name: installation/chrony-client

- name: Include docker/docker-image role
  include_role:
    name: docker/docker-image

- name: Include products/common/docker-container role
  include_role:
    name: products/common/docker-container
  vars:
    ros_master: "{{ server_hostname }}"
    container_terminal_title: "Teleop Client Container"

- name: Include docker/aws role
  include_role:
    name: docker/aws
  when: use_aws|bool

- name: Include products/common/save-logs-icons role
  include_role:
    name: products/common/save-logs-icons

- name: Include products/teleop/server/desktop-icons role
  include_role:
    name: products/teleop/client/desktop-icons

- name: Creating teleop-client setup script
  template:
    src: ../../../common/resources/templates/scripts/teleop-setup.j2
    dest: "{{ shadow_hand_launcher_folder }}/{{ setup_script }}"
    mode: '755'

- name: Copying teleop-client setup script into docker container
  changed_when: false
  shell: "docker cp {{ shadow_hand_launcher_folder }}/{{ setup_script }} {{ container_name }}:{{ setup_directory }}/{{ setup_script }}"
  become: yes
