---
- name: Set server hostname
  set_fact:
    server_hostname: "{{ hostvars[groups['server'][0]]['ansible_host'] }}"
  when: groups['server'] is defined

- name: Set setup parameters
  set_fact:
    setup_script: teleop-client-setup.sh
    use_steamvr: false

- name: Include installation/docker role
  include_role:
    name: installation/docker

- name: Include installation/nvidia-docker role
  include_role:
    name: installation/nvidia-docker
  when: nvidia_docker | int !=0

- name: Include installation/openvpn-client role
  include_role:
    name: installation/openvpn-client
  when: use_openvpn|bool

- name: Include docker/docker-image role
  include_role:
    name: docker/docker-image

- name: Include docker/aws role
  include_role:
    name: docker/aws
  when: use_aws|bool

- name: Include products/common/docker-container role
  include_role:
    name: products/common/docker-container
  vars:
    ros_master: "{{ server_hostname }}"
    setup_script: ""

- name: Include products/common/save-logs-icons role
  include_role:
    name: products/common/save-logs-icons

- name: Include products/common/cyberglove role
  include_role:
    name: products/common/cyberglove
  when: use_cyberglove|bool

- name: Include products/teleop/server/desktop-icons role
  include_role:
    name: products/teleop/client/desktop-icons

- name: Creating teleop-client setup script
  template:
    src: ../../../common/resources/templates/scripts/teleop-setup.j2
    dest: "{{ shadow_hand_launcher_folder }}/{{ setup_script }}"
    mode: '755'

- name: Copying teleop-client setup script into docker container
  changed_when: false
  shell: "docker cp {{ shadow_hand_launcher_folder }}/{{ setup_script }} {{ container_name }}:{{ setup_directory }}/{{ setup_script }}"
  become: yes
