---
- name: Include installation/docker role
  include_role:
    name: installation/docker

- name: Include installation/nvidia-docker role
  include_role:
    name: installation/nvidia-docker
  when: nvidia_docker!=0

- name: Include installation/openvpn-server role
  include_role:
    name: installation/openvpn-server
  when: use_openvpn|bool

- name: Include docker/docker-image role
  include_role:
    name: docker/docker-image

- name: Include docker/aws role
  include_role:
    name: docker/aws
  when: use_aws|bool

- name: Include products/common/docker-container role
  include_role:
    name: products/common/docker-container

- name: Include products/common/save-logs-icons role
  include_role:
    name: products/common/save-logs-icons

- name: Include products/common/cyberglove role
  include_role:
    name: products/common/cyberglove
  when: use_cyberglove|bool

- name: Include products/teleop/server/desktop-icons role
  include_role:
    name: products/teleop/client/desktop-icons

- name: Setup script name
  set_fact:
    setup_script: teleop-client-setup.sh

- name: Creating teleop-client setup script
  template:
    src: ../../../common/resources/templates/scripts/setup-hand.j2
    dest: "{{ shadow_hand_launcher_folder }}/{{ setup_script }}"
    mode: '755'

- name: Copying teleop-client setup script into docker container
  changed_when: false
  shell: "docker cp {{ shadow_hand_launcher_folder }}/teleop-client-setup.sh {{ container_name }}:{{ setup_directory }}/{{ setup_script }}"
  become: yes
