# Copyright 2022 Shadow Robot Company Ltd.
#
# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation version 2 of the License.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.

---
- name: Set container_type_shared_volumes
  set_fact:
    container_type_shared_volumes:
      - "{{ user_folder }}/.Xauthority:/home/user/.Xauthority"

- name: Set shared volumes
  set_fact:
    shared_volumes: "{{ common_shared_volumes + container_type_shared_volumes + custom_shared_volumes }}"

- name: Find out if we should record all data from these hands
  set_fact:
    record_hand_data: "enabled"
  when: record_data

- name: set pull varaible
  set_fact: pull_var=no
  when: local_image

- name: Creating the container with no terminator and no setup
  changed_when: false
  community.docker.docker_container:
    name: "{{ container_name }}"
    image: "{{ full_image_name }}"
    state: present
    recreate: yes
    pull: "{{ pull_var|bool }}"
    env:
      verbose: "true"
      QT_X11_NO_MITSHM: "1"
      LOCAL_USER_ID: "{{ id.stdout }}"
      DISPLAY: "{{ lookup('env','DISPLAY') }}"
      ROS_MASTER_URI: "http://{{ ros_master }}:11311"
      arm_ips: "{{ arm_ip_right }}_{{ arm_ip_left }}"
      XDG_RUNTIME_DIR: "/run/user/1000"
      SR_RECORD_HAND_DATA: "{{ record_hand_data }}"
    network_mode: "host"
    pid_mode: "host"
    ipc_mode: "host"
    privileged: yes
    interactive: yes
    security_opts:
    - "seccomp: unconfined"
    ulimits:
    - "core: -1"
    volumes: "{{ shared_volumes }}"
    command: bash
    container_default_behavior: compatibility
