---
- name: Detecting Nvidia driver version
  shell: "nvidia-smi --query-gpu=driver_version --format=csv,noheader | cut -d '.' -f 1"
  register: nvidia_driver_version
  changed_when: nvidia_driver_version.rc != 0

- name: Creating the Nvidia container which will execute setup script when started inside a terminator window
  changed_when: false
  docker_container:
    name: "{{ container_name }}"
    image: "{{ full_image_name }}"
    state: present
    recreate: yes
    runtime: "{{ docker_runtime }}"
    env:
      verbose: "true"
      interface: "{{ ethercat_interface }}"
      QT_X11_NO_MITSHM: "1"
      LOCAL_USER_ID: "{{ id.stdout }}"
      DISPLAY: :0
      ROS_MASTER_URI: "http://{{ ros_master }}:11311"
      NVIDIA_VISIBLE_DEVICES: "all"
      NVIDIA_DRIVER_CAPABILITIES: "all"
      PATH: "/usr/lib/nvidia-{{ nvidia_driver_version.stdout }}/bin:{{ ansible_env.PATH }}"
      LD_LIBRARY_PATH: "/usr/lib/nvidia-{{ nvidia_driver_version.stdout }}"
    network_mode: "host"
    pid_mode: "host"
    privileged: yes
    interactive: yes
    security_opts:
    - "seccomp: unconfined"
    volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix[rw]
    - /usr/lib/nvidia-{{ nvidia_driver_version.stdout }}:/usr/lib/nvidia-{{ nvidia_driver_version.stdout }}
    - /dev/input:/dev/input[rw]
    - /run/udev/data:/run/udev/data
    - /usr/local/cuda:/usr/local/cuda
    command: "terminator -x bash -c '{{ setup_directory }}/{{ setup_script }} && bash || bash'"
  become: yes
