---
- name: Creating the container which will execute setup script when started and without terminator
  changed_when: false
  docker_container:
    name: "{{ container_name }}"
    image: "{{ full_image_name }}"
    state: present
    recreate: yes
    pull: yes
    env:
      verbose: "true"
      interface: "{{ ethercat_interface }}"
      QT_X11_NO_MITSHM: "1"
      LOCAL_USER_ID: "{{ id.stdout }}"
      DISPLAY: :0
    network_mode: "host"
    pid_mode: "host"
    privileged: yes
    interactive: yes
    ulimits:
      core: -1
    security_opts:
      seccomp: "unconfined"
    volumes: /tmp/.X11-unix:/tmp/.X11-unix[rw]
    command: "bash -c '{{ setup_directory }}/{{ setup_script }} && bash || bash'"
  become: yes
