---
- name: Creating the container which will execute setup script when started and without terminator
  changed_when: false
  docker_container:
    name: "{{ container_name }}"
    image: "{{ full_image_name }}"
    state: present
    recreate: yes
    pull: yes
    env:
      verbose: "true"
      interface: "{{ ethercat_interface }}"
      QT_X11_NO_MITSHM: "1"
      LOCAL_USER_ID: "{{ id.stdout }}"
      DISPLAY: "{{ lookup('env','DISPLAY') }}"
      ROS_MASTER_URI: "http://{{ ros_master }}:11311"
    network_mode: "host"
    pid_mode: "host"
    privileged: yes
    interactive: yes
    security_opts:
    - "seccomp: unconfined"
    ulimits:
    - "core: -1"
    volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix[rw]
    - /dev/input:/dev/input[rw]
    - /run/udev/data:/run/udev/data
    command: "bash -c '{{ setup_directory }}/{{ setup_script }} && bash || bash'"
  become: yes
