#jinja2: trim_blocks:False
#!/bin/bash

CONST_TIMEOUT=20

terminator --geometry "{{ term_1 }}" -T 'Launching server container...' -e "{{ shadow_hand_launcher_folder}}/shadow_server_container.sh"

elapsed_time=0
start_time=$SECONDS
proceed=false
while [ $elapsed_time -lt $CONST_TIMEOUT ]; do
  elapsed_time=$(( SECONDS - start_time ))
  if [ "$(docker ps -q -f name={{ container_name }})" ]; then
    proceed=true
    break;
  fi
done

if [ "$proceed" == false ]; then
    zenity --error --text="Teleop server container not running, execution stopped"
    docker stop {{ container_name }}
    exit 1
fi

terminator --geometry "{{ term_2 }}" -T 'Server ROS Core' -e "{{ shadow_hand_launcher_folder}}/shadow_roscore.sh"

elapsed_time=0
start_time=$SECONDS
proceed=false
while [ $elapsed_time -lt $CONST_TIMEOUT ]; do
  elapsed_time=$(( SECONDS - start_time ))
  if [[ "$(docker exec -ti {{ container_name }} bash -c "source /home/user/projects/shadow_robot/base/devel/setup.bash;rostopic list")" = */rosout* ]]; then
    proceed=true
    break;
  fi
done

if [ "$proceed" == false ]; then
    zenity --error --text="Roscore not running, execution stopped"
    docker stop {{ container_name }}
    exit 1
fi

terminator --geometry "{{ term_3 }}" -T 'NUC bimanual hardware control loop' -e "{{ shadow_hand_launcher_folder}}/shadow_nuc_bimanual_hardware_control_loop.sh"
terminator --geometry "{{ term_4 }}" -T 'Server bimanual GUI' -e "{{ shadow_hand_launcher_folder}}/shadow_GUI_bimanual.sh"
if [[ "shadow_glove" == "haptx"  ]]; then
  terminator --geometry "{{ term_5 }}" -T 'Server HaptX Bimanual Mapping' -e "{{ shadow_hand_launcher_folder}}/shadow_haptx_mapping_launch_bimanual.sh"
fi
