#jinja2: trim_blocks:False
#!/bin/bash

terminator --geometry "{{ term_1 }}" -T 'Launching server container...' -e "{{ shadow_hand_launcher_folder}}/shadow_server_container.sh"
sleep 3
terminator --geometry "{{ term_2 }}" -T 'Server ROS Core' -e "{{ shadow_hand_launcher_folder}}/shadow_roscore.sh" &
sleep 3
terminator --geometry "{{ term_3 }}" -T 'Server Bimanual Teleop Simulation' -e "{{ shadow_hand_launcher_folder}}/shadow_sim_bimanual.sh" &
sleep 3
if {{ real_glove | lower }}; then
    if [[ "{{ glove }}" == "haptx"  ]]; then
        terminator --geometry "{{ term_4 }}" -T 'Server HaptX Bimanual Mapping' -e "{{ shadow_hand_launcher_folder}}/shadow_haptx_mapping_launch_bimanual.sh"
    fi
    if [[ "{{ glove }}" == "polhemus"  ]]; then
        terminator --geometry "{{ term_4 }}" -T 'Server Polhemus Driver Bimanual' -e "{{ shadow_hand_launcher_folder}}/shadow_polhemus_driver_bimanual.sh"
        sleep 3
        terminator --geometry "{{ term_5 }}" -T 'Server Polhemus Bimanual Mapping' -e "{{ shadow_hand_launcher_folder}}/shadow_polhemus_mapping_launch_bimanual.sh"
    fi
fi
