#jinja2: trim_blocks:False
#!/bin/bash

NEXT_WAIT_TIME=0
TIMEOUT=20
START_TIME=$SECONDS

terminator --geometry "{{ term_1 }}" -T 'Launching server container...' -e "{{ shadow_hand_launcher_folder}}/shadow_server_container.sh"

while [ $NEXT_WAIT_TIME -ne $TIMEOUT ]; do
  NEXT_WAIT_TIME=$(( SECONDS - START_TIME ))
  if [ "$(docker ps -q -f name=teleop)" ]; then
     terminator --geometry "{{ term_2 }}" -T 'Server ROS Core' -e "{{ shadow_hand_launcher_folder}}/shadow_roscore.sh"
     while [ $NEXT_WAIT_TIME -ne $TIMEOUT ]; do
       NEXT_WAIT_TIME=$(( SECONDS - START_TIME ))
       if [[ "$(docker exec -ti teleop bash -c "source /home/user/projects/shadow_robot/base/devel/setup.bash;rostopic list")" = */rosout* ]]; then
         terminator --geometry "{{ term_3 }}" -T 'Server Bimanual Teleop Simulation' -e "{{ shadow_hand_launcher_folder}}/shadow_sim_bimanual.sh" &
         break;
         if {{ real_glove | lower }}; then
             if [[ "{{ glove }}" == "haptx"  ]]; then
                terminator --geometry "{{ term_4 }}" -T 'Server HaptX Bimanual Mapping' -e "{{ shadow_hand_launcher_folder}}/shadow_haptx_mapping_launch_bimanual.sh"
             fi
         fi
       fi
     done
     break;
  fi
done
if [ $NEXT_WAIT_TIME -eq $TIMEOUT ]; then
  zenity --error --text="Teleop server container not running, execution stopped"
fi
