#jinja2: trim_blocks:False
#! /bin/bash
DOC_ZIP_FILENAME=shadow-robot-company-teleoperation-latest
if [ ! -d {{ shadow_hand_launcher_folder }}/$DOC_ZIP_FILENAME ]; then
  docker cp {{ container_name }}:/home/user/projects/shadow_robot/base/src/sr_teleop_documentation/html/shadow-robot-company-teleoperation-latest.zip /tmp/
  unzip /tmp/$DOC_ZIP_FILENAME.zip -d {{ shadow_hand_launcher_folder }}
fi
xdg-open {{ shadow_hand_launcher_folder }}/$DOC_ZIP_FILENAME/index.html
sleep infinity
