#jinja2: trim_blocks:False
#! /bin/bash
if [ ! -d /home/beatriz/.shadow_launcher_app/shadow_hand_launcher/shadow-robot-company-teleoperation-latest/ ]; then
  docker cp teleop:/home/user/projects/shadow_robot/base/src/sr_teleop_documentation/html/shadow-robot-company-teleoperation-latest.zip /tmp/
  unzip /tmp/shadow-robot-company-teleoperation-latest.zip -d /home/beatriz/.shadow_launcher_app/shadow_hand_launcher/
fi
xdg-open /home/beatriz/.shadow_launcher_app/shadow_hand_launcher/shadow-robot-company-teleoperation-latest/index.html
sleep 0.5
