#jinja2: trim_blocks:False
#!/bin/bash
NUC_NAME={{ nuc_username }}
NUC_ADDRESS={{ nuc_address }}

ssh $NUC_NAME@$NUC_ADDRESS CONTAINER={{ container_name }} SR_BRANCH={{ config_branch }} HAND_SERIALN={{ hand_serial }} HAND_SERIALN_LEFT={{ hand_serial_left }} ETH_PORT={{ ethercat_interface }} ETH_PORT_LHAND={{ ethercat_left_hand }} 'bash -s' <<'ENDSSH'
docker stop ${CONTAINER}
docker start ${CONTAINER}
echo "Starting the container..."
sleep 3
docker exec --user user ${CONTAINER} bash -c "source /home/user/projects/shadow_robot/base_deps/devel/setup.bash;source /home/user/projects/shadow_robot/base/devel/setup.bash;roscd sr_ethercat_hand_config/launch;git checkout sr_rhand.launch;git checkout sr_lhand.launch;git checkout ${SR_BRANCH}"
docker exec --user user ${CONTAINER} bash -c "source /home/user/projects/shadow_robot/base_deps/devel/setup.bash;source /home/user/projects/shadow_robot/base/devel/setup.bash;roslaunch sr_teleop_vive_haptx teleop_bimanual_demo.launch rh_serial:=${HAND_SERIALN} lh_serial:=${HAND_SERIALN_LEFT} hand_eth_interface:=${ETH_PORT}_${ETH_PORT_LHAND} 2> >(tee -a /home/user/.ros/log/stderr.log >&2)"
ENDSSH
sleep infinity
