#jinja2: trim_blocks:False
#!/bin/bash
NUC_NAME={{ nuc_username }}
NUC_ADDRESS={{ nuc_address }}

ssh $NUC_NAME@$NUC_ADDRESS CONTAINER={{ container_name }} SR_BRANCH={{ sr_config_branch }} HAND_SERIALN={{ hand_serial }} 'bash -s' <<'ENDSSH'
docker stop ${CONTAINER}
docker start ${CONTAINER}
docker exec -it ${CONTAINER} bash -c "source /home/user/projects/shadow_robot/base_deps/devel/setup.bash;source /home/user/projects/shadow_robot/base/devel/setup.bash;roscd sr_config;git checkout ${SR_BRANCH}"
docker exec -it ${CONTAINER} bash -c "source /home/user/projects/shadow_robot/base_deps/devel/setup.bash;source /home/user/projects/shadow_robot/base/devel/setup.bash;roslaunch sr_teleop_vive_cyberglove hardware_control.launch hand_serial:=${HAND_SERIALN} 2> >(tee -a ~/.ros/log/stderr.log >&2)"
ENDSSH
sleep infinity
