#jinja2: trim_blocks:False
#!/bin/bash

# Script expect one argument: a topic name to wait for
elapsed_time=0
start_time=$SECONDS
CONST_TIMEOUT=60
while [ $elapsed_time -lt $CONST_TIMEOUT ]; do
  elapsed_time=$(( SECONDS - start_time ))
  if [[ "$(docker exec -ti {{ container_name }} bash -c "source /home/user/projects/shadow_robot/base/devel/setup.bash;rostopic list")" = *"${1}"* ]]; then
    # Success
    exit 0
  fi
done
# Timeout
exit 1
