---
- name: Ensures that Desktop folder exists
  file:
    path: "{{ user_folder }}/Desktop"
    mode: '755'
    state: directory
  become: yes

- name: Ensures that shadow_hand_launcher directory exists
  file:
    path: "{{ shadow_hand_launcher_folder }}"
    state: directory
  become: yes

- name: Copy Teleop_Control_Machine_Launch desktop icon
  copy:
    src: files/teleop_icon.png
    dest: "{{ shadow_hand_launcher_folder }}/teleop_icon.png"
    mode: '664'
  become: yes

- name: Create Teleop_Control_Machine_Launch executable launch script
  template:
    src: templates/scripts/start-docker-container-nuc.j2
    dest: "{{ shadow_hand_launcher_folder }}/teleop_exec.sh"
    mode: '755'
  become: yes

- name: Create Teleop_Control_Machine_Launch desktop icon
  template:
    src: ../../../common/resources/templates/desktop-icons/standard-icon.j2
    dest: "{{ user_folder }}/Desktop/Teleop_Control_Machine_Launch.desktop"
    mode: '755'
  vars:
    desktop_shortcut_name: Teleop_Control_Machine_Launch
    comment: "This is application launches the teleop on the control-machine (nuc)"
    window_title: teleop_launcher_app_xterm
    folder: "{{ shadow_hand_launcher_folder }}"
    shell_script_file_name: teleop_exec.sh
    icon_file_name: teleop_icon.png
  become: yes

- name: Create Teleop_Server_Launch executable launch script
  template:
    src: ../../../common/resources/templates/scripts/start-docker-container.j2
    dest: "{{ shadow_hand_launcher_folder }}/shadow_launcher_exec.sh"
    mode: '755'
  become: yes

- name: Create Teleop_Server_Launch desktop icon
  template:
    src: ../../../common/resources/templates/desktop-icons/standard-icon.j2
    dest: "{{ user_folder }}/Desktop/Teleop_Server_Launch.desktop"
    mode: '755'
  vars:
    desktop_shortcut_name: Teleop_Server_Launch
    comment: "This is application launches the GUI of the hand"
    window_title: shadow_launcher_app_xterm
    folder: "{{ shadow_hand_launcher_folder }}"
    shell_script_file_name: shadow_launcher_exec.sh
    icon_file_name: teleop_icon.png
  become: yes
