---
- name: Ensures that Desktop folder exists
  file:
    path: "{{ user_folder }}/Desktop"
    mode: '755'
    state: directory

- name: Ensures that shadow_hand_launcher directory exists
  file:
    path: "{{ shadow_hand_launcher_folder }}"
    state: directory

- name: Set NUC IP address and username for SSH
  set_fact:
    nuc_username: hostvars[groups['control-machine'][0]]['ansible_user']['stdout_lines']
    nuc_address: hostvars[groups['control-machine'][0]].ansible_default_ipv4.address

- name: Install desktop icon for hand A
  import_tasks: demohand-icon.yml
  vars:
    desktop_icon_png: "demohand_A_icon.png"
    launch_script: "teleop_exec_A.sh"
    demohand_branch: "demohand_A"
    desktop_icon_name: "Teleop_control-machine_Launch_Demohand_A"
    hand_serial_no: "634"

- name: Install desktop icon for hand B
  import_tasks: demohand-icon.yml
  vars:
    desktop_icon_png: "demohand_B_icon.png"
    launch_script: "teleop_exec_B.sh"
    demohand_branch: "demohand_B"
    desktop_icon_name: "Teleop_control-machine_Launch_Demohand_B"
    hand_serial_no: "1130"

- name: Install desktop icon for hand C
  import_tasks: demohand-icon.yml
  vars:
    desktop_icon_png: "demohand_C_icon.png"
    launch_script: "teleop_exec_C.sh"
    demohand_branch: "demohand_C"
    desktop_icon_name: "Teleop_control-machine_Launch_Demohand_C"
    hand_serial_no: "1370"

- name: Install desktop icon for Teleop server container
  import_tasks: default-icon.yml
  vars:
    template: ../../../common/resources/templates/scripts/start-docker-container-nvidia.j2
    desktop_icon_png: "cyberglove_teleop.png"
    launch_script: "shadow_launcher_exec.sh"
    desktop_icon_name: "Teleop_Container_Launch"

- name: Install desktop icon for Teleop server GUI
  import_tasks: gui-icon.yml
  vars:
    desktop_icon_png: "cyberglove_teleop.png"
    launch_script: "shadow_roslaunch_demo.sh"
    desktop_icon_name: "Teleop_GUI"

- name: Install desktop icon for launching Roscore
  import_tasks: default-icon.yml
  vars:
    template: ../../../common/resources/templates/scripts/start-roscore-nvidia.j2
    desktop_icon_png: "ROS_logo.png"
    launch_script: "shadow_roscore.sh"
    desktop_icon_name: "Teleop_ROSCORE"
