[Desktop Entry]
Version=1.0
Name={{ desktop_shortcut_name }}
Comment={{ comment }}
Exec=xterm -title '{{ window_title }}' -e '{{app_folder}}/{{ desktop_shortcut_name }}/{{ shell_script_file_name }}
Icon={{app_folder}}/{{ desktop_shortcut_name }}/{{ icon_file_name }}
Terminal=false
Type=Application
Categories=Utility;Application;
