#jinja2: trim_blocks:False
#!/bin/bash

terminator --geometry "{{ term_1 }}" -T 'Launching server container...' -e "{{ shadow_hand_launcher_folder}}/shadow_server_container.sh"
sleep 4
terminator --geometry "{{ term_2 }}" -T 'Server ROS Core' -e "{{ shadow_hand_launcher_folder}}/shadow_roscore.sh" &
sleep 12
terminator --geometry "{{ term_3 }}" -T 'Server {{ server_launch_description }}' -e "{{ shadow_hand_launcher_folder}}/{{ server_launch_script }}"
