#jinja2: trim_blocks:False
#!/bin/bash

terminator -T 'Launching server container...' -e "{{ shadow_hand_launcher_folder}}/shadow_server_container.sh"
sleep 3
terminator -T 'Server ROS Core' -e "{{ shadow_hand_launcher_folder}}/shadow_roscore.sh" &
sleep 3
terminator -T 'NUC right hand hardware control loop' -e "{{ shadow_hand_launcher_folder}}/shadow_nuc_right_hardware_control_loop.sh" &
sleep 3
terminator -T 'Server right hand GUI' -e "{{ shadow_hand_launcher_folder}}/shadow_GUI_unimanual.sh"
