---
- name: Creating the container
  changed_when: false
  docker_container:
    name: "{{ container_name }}"
    image: "{{ full_image_name }}"
    state: present
    recreate: yes
    pull: yes
    env:
      verbose: "true"
      interface: "{{ ethercat_interface }}"
      QT_X11_NO_MITSHM: "1"
      LOCAL_USER_ID: "{{ id.stdout }}"
      DISPLAY: :0
      # ROS_MASTER_URI: "http://'{{ groups['control_machine']['ansible_default_ipv4']['address'] }}':11311"
    network_mode: "host"
    privileged: yes
    interactive: yes
    volumes: /tmp/.X11-unix:/tmp/.X11-unix[rw]
    command: "/bin/bash"
  become: yes

- name: Check if there is an interface file
  stat:
    path: /etc/network/interfaces
  register: stat_result

- name: In case enp interface doesn't exist, use eth0
  set_fact:
    ur_interface: 'eth0'
  when: "'enp' not in ansible_interfaces"

- name: If an enp interface exists, use the first one for ur_interface
  set_fact:
    ur_interface: "{{ ansible_interfaces | select('match','enp.*') | list | first }}"
  when: "'enp' in ansible_interfaces"

- name: Add network setup to control machine
  become: yes
  when: ur_interface | length > 0
  blockinfile:
    path: /etc/network/interfaces
    backup: yes
    block: |
      auto {{ ur_interface }}
      iface {{ ur_interface }} inet static
        address 192.168.1.100
        netmask 255.255.255.0

- name: Check if the ssh public key has been generated in ~/.ssh/ on machine running Ansible (teleop server)
  stat:
    path: "~/.ssh/id_rsa.pub"
  register: ssh_result
  delegate_to: 127.0.0.1

- name: Copy SSH public key from server to control machine (if it exists in teleop server)
  copy:
    src: "~/.ssh/id_rsa.pub"
    dest: ".ssh/id_rsa.pub"
    mode: '664'
  when: ssh_result.stat.exists
  changed_when: false

- name: Register SSH public key with current user on the control machine
  authorized_key:
    user: "{{ user }}"
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
    state: present
  when: ssh_result.stat.exists
  changed_when: false
