#jinja2: trim_blocks:False
#!/bin/bash
entrypoint_path=$(docker inspect -f {% raw %}'{{.Config.Entrypoint}}'{% endraw %} {{ container_name  }} | sed -r 's/\[//g' | sed -r 's/\]//g')
docker start {{ container_name  }} && sleep 3
echo "grepping for ${entrypoint_path}..."
while [[ $(ps aux | grep ${entrypoint_path} | grep -v grep | wc -l) -gt 0 ]]; do sleep 1; done
sleep 3
while [[ $(ps aux | grep ${entrypoint_path} | grep -v grep | wc -l) -gt 0 ]]; do sleep 1; done
ps aux | grep ${entrypoint_path} | grep -v grep
docker stop {{ container_name  }} &> /dev/null && exit 0 || docker stop {{ container_name  }} &> /dev/null && exit 1
