#jinja2: trim_blocks:False
#!/bin/bash
docker start {{ container_name  }}
docker exec -i --user user {{ container_name }} bash -c "echo ${LOCAL_USER_ID}; sleep 1; while [[ $(ps aux | grep 'entrypoint.sh' | grep -v grep | wc -l) -gt 0 ]]; do sleep 1; done"
docker stop {{ container_name  }}
