---
- name: Teleop deploy playbook for teleop server with simulation only
  import_playbook: ../../../teleop_deploy.yml
  vars:
    reinstall: true
    image: shadowrobot/dexterous-hand
    tag: melodic-release
    nvidia_docker: false
    skip_molecule_task: true
    allow_auto_reboot: true
    demo_icons: true
    sudo_password: ubuntu
    glove: haptx
    customer_key: invalidkey
    real_glove: true
    real_vive: false
    biotacs: true
    haptx_teleop_readthedocs_link: ""
    shadow_glove_teleop_readthedocs_link: ""
