---
image: "shadowrobot/shadow-teleop"
tag: "kinetic-v0.0.10"
reinstall: false
container_name: "teleop"
ethercat_interface: "eth0"
config_branch: "demohand_A"
allow_auto_reboot: true
user: "{{ ansible_user_id }}"
user_folder: "/home/{{ user }}"
shadow_hand_launcher_folder: "{{ user_folder }}/.shadow_launcher_app/shadow_hand_launcher"
setup_directory: "/usr/local/bin"
use_aws: false
use_cyberglove: false
launch_hand: false
server_hostname: "TELEOP-DEMO"
ssh_keys_path: "/tmp/id_ssh_rsa"
upgrade_check: false
